:root {
    --column-padding: 5rem;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    background-color: #FAFAFA;
}

.splash-image {
    background-image: url('halie-west-25xggax4bSA-unsplash.jpg');
    height: 100vh;
    width: 30vw;
    background-size: cover;
    position: relative;
    flex-shrink: 0;
}

@font-face {
    font-family: norseBold;
    src: url('Norse-Bold.otf');
}

.logo-backdrop {
    background-color: rgb(0, 0, 0, 0.5);
    font-family: norseBold;
    color: white;
    font-size: 5rem;
    position: absolute;
    top: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img.odin-logo {
    height: 7rem;
    margin: 10px 0;
}

p.splash-img-attribution {
    position: absolute;
    bottom: 10px;
    color: white;
    text-align: center;
    width: 100%;
}

p.splash-img-attribution a {
    color: white
}

.right-column {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5rem;
}

.right-column > p {
    padding-left: var(--column-padding);
}

.right-column form {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10rem;
    row-gap: 2rem;
    background-color: white;
    padding-left: var(--column-padding);
    box-shadow: 0 3px 4px 2px lightgray;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

form p {
    width: 100%;
}

form label {
    display: flex;
    flex-direction: column;
    width: 20rem;
}

.right-column button {
    width: 20rem;
    margin-left: var(--column-padding);
}