* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
}

.splash-image {
    background-image: url('halie-west-25xggax4bSA-unsplash.jpg');
    height: 100vh;
    width: 30vw;
    background-size: cover;
    position: relative;
}

@font-face {
    font-family: norseBold;
    src: url('Norse-Bold.otf');
}

.logo-backdrop {
    background-color: rgb(0, 0, 0, 0.5);
    font-family: norseBold;
    color: white;
    font-size: 5rem;
    position: absolute;
    top: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img.odin-logo {
    height: 7rem;
    margin: 10px 0;
}

p.splash-img-attribution {
    position: absolute;
    bottom: 10px;
    color: white;
    text-align: center;
    width: 100%;
}

p.splash-img-attribution a {
    color: white
}